body {
background-color: cadetblue;
}
h1 { border-bottom-style: dotted;
color: white;
font-family: "Times New Roman", Times, serif;
font-size: 60px;
text-align: center;

}
h2 { color: white;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}
p { color: white;
  font-family: Helvetica, sans-serif;
  border-top:none;
  border-bottom: none;

 }
 ul { Background-color: Grey
   Padding: 10px
   list-style-type: circle;
 }
