* {
background-color: cadetblue;
}
h1 { font-family: "Times New Roman", Times, serif;
color: white;
font-size: 60px;
text-align: center;
border-bottom-style: double ;
}
h2 { font-family: Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}
p { font-family: Helvetica, sans-serif;
color: white;
 }
 ul {
   list-style-type: circle;
   Background-color: Grey
   Padding: 20px
 }
