#hh{font-family: 'Varela Round', sans-serif;
font-size: 25px;
text-align: center;
padding-top: -100px;
padding-bottom: 70px;
}
h2{font-family: "Times New Roman", serif;
font-size: 20px;
}
li, h3{font-family: 'Varela Round', sans-serif;
font-size: 16px;
}
p{font-family: 'Varela Round'sans-serif;
font-size:14px;
}

#coffees-images{
  height:55%;
  width:55%;
}
#logo-image{
display: block;
margin-left: auto;
margin-right: auto;
height: 20%;
width: 20%;
}
.drinks{
  padding-bottom: 30px;
}
#Map{
  width:35%;
  height:30%;

}

#header{
  height:100%;
  margin-top: -270px;
  margin-left: -40px;
  width:70%;
}
#footer{
  height:100%;
  margin-top: 200px;
  width:70%;
}
#coffee-images{
  height:55%;
  width:55%;
}
.sidenav {
  height: 100%;
  width: 125px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #804A05;
  overflow-x: hidden;
}
.Teas{
  list-style-type:none;
  list-style-position: inside;
  font-size: 25px;
}
.Teas_Types{
  font-size: 21px;
  text-indent: 50px;
  list-style-type: none;
}
.Iced_Teas{
  font-style: 21px;
  list-style-type: none;
}
.Refill{
  font-size: 21px;
  text-indent: 50px;

}
.food{
  list-style-type: none;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
#sidenav-image{
  padding-top: 35px;
  height:100px;
  width:125px;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #A5967B;
  color: #804A05;
}
.header-nav, #menu, #our-mission, #reviews, #locations{
  margin-left: 150px;
  padding-left: 20px;
}
#locations{
  margin-left: 200px;
}

li, ul, p {
  margin: 0;
  padding: 0;
}

section {
  background-color:#34312E;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  color:#A5967B;
  font-size:2rem;
}

section h1, h2, p, ul, li, h5, h4 {
  color:#A5967B;
}

.drinks {
  width:85%;
  margin: 0 auto;
  display:inline-block;
}

 .menu-item-row {
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  padding: 10px 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:50%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}
body {
  background-color: #34312E;
   margin:0;
  padding:0;
}

header {
background-color: #34312E;
width: 100%;

}

.header-nav {
  background-color: #34312E;
  width:100%;
  font-size: 35px;
  font-weight: bold;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content:space-between;
  padding: 250px 0px 30px 0px;
  text-align: center;

}
#mission{
  font-size: 16px
}
.drink_specials{
  list-style-type: none;
}
#logo {
height:100px;
}

#toggle {
display:none;
}

label {
font-size: 50px;
line-height:100px;
cursor: pointer;
background-color: #34312E;
color: #AE6303;
align-items: right;
}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: right;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: center;
  color: White;
  display:block;
  background-color:#4E2D04;
}

ul.menu-items a:first-of-type {
  padding-top:10px;
}

ul.menu-items a:last-of-type {
  padding-bottom:10px;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}
h3{
  color:#34312E;
}
.grid-container {
  display: grid;
  height: 1000px;
  align-content: center;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #804A05;
  padding: 10px;
}
.review {
  background-color:#EED9C4;
text-align: justify;
padding: 60px 0;
font-size: 30px;
}
#star{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Desktop Styles*/

@media only screen and (min-width: 600px) {
  .header-nav{ width:90%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Varela Round', sans-serif;
  font-size: 45px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  color: blue;
  background-color:#EED9C4;
  }
  h2{font-family: "Times New Roman", serif;
  font-size: 35px;
  }
  li, h3{font-family: 'Varela Round', sans-serif;
  font-size: 21px;
  }
  p{font-family: 'Varela Round'sans-serif;
  font-size:25px;
  }
  .header-nav {
  background-color: #34312E;
  width:90%;
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  justify-content: space-between;
}
#header{
  height:100%;
  margin-top: -200px;
  margin-left: -10px;
  width:93%;
}
#footer{
  height:100%;
  margin-top: 200px;
  width:93%;
}
#coffee-images{
  height:70%;
  width:75%;
}

  .menu-items li a {
  background-color: #34312E;
    color: #AE6303;
    border-bottom: 5px solid #48331E;
  }
#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: center;
border-top:none;
  width: 60%;
  justify-content: space-between;
}
  ul.menu-items {
padding: 20px 0 40px 0;
}
#our-mission{
  font-size: 15px;
}
#logo-image{
  height:50%;
  width:50%;
}
.sidenav {
  height: 100%;
  width: 200px;
}
#sidenav-image{
  height:150px;
  width:200px;
}
.header-nav, #menu, #our-mission, #reviews, #locations{
  margin-left: 200px;
  padding-left: 20px;
}
.grid-container {
  height: 800px;
}
}
