.flex-container{
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;

}
img {
  padding-top: 80px;
  padding-left: 75px;
  padding-right: 75px;
  width: 1130px;
  height: 755px;
}
.para1 {
  background-color: none;
  color: #707070;
  font-family: "Times New Roman", Times, serif;
  font-size:20px;
  Font-style: normal;
  Text-align: justify;
  Line-height: 28px;
  padding: 40px;
  margin-left: 170px;
  height:600px;
  Width:400px;
}
.para2{
  background-color: none;
  color: #707070;
  font-family: "Times New Roman", Times, serif;
  font-size:20px;
  Font-style: normal;
  Text-align: justify;
  Line-height: 28px;
  padding:40px;
  height:600px;
  Width:400px;

}
.para1:first-letter{
  float:left;
  font-size:80px;
  font-weight: bold;
  line-height: 1;
  margin-right: 9px;
}

H3{
   Font-family: "Times New Roman",Times, serif;
   Color: #707070;
   font-size: 14px;
   font-style: normal;
    Height: 51px;
   text-align: center;
   margin-left: 160px;
   padding-top: 60px;
   position: relative;
   Width: 1049px;
}
H4{
   Font-family:"Times New Roman",Times, serif;
   Color: #707070;
   font-size:10px;
   Height: 53px;
   text-align: right;
   margin-left: 760px;
   Width: 290px;
 }
