.flex-container{
  display:flex;
  margin-left: 173px;
}
  .flex-container > div {
  background-color: none;
  margin left: 120px;
  Padding:40px;
  height: 760px;
  Line-height: 28px;
  width: 427px;
}


img{
padding-top: 80px;
padding-left: 75px;
padding-right: 75px;
width: 1130px;
height: 755px;
}
h1{
Font-family:"Times New Roman", Times, serif;
Color:#707070;
Font-size: 80px;
Font-style: bold;
Text-align: left;
}
div{
  font-family: "Times New Roman", Times, serif;
  color: #707070;
  font-size:20px;
  Font-style: normal;
  Text-align: justify;
  height: 760px;
  Line-height: 28px;
  width: 427px;
}
H2{
   Font-family: "Times New Roman",Times, serif;
   Color: #707070;
   Font-size:20px;
   font-style: normal;
   Text-align: left;
   Height: 51px;
   Line-height: 23px;
   Width: 1049px;
}
H3{
   Font-family: "Times New Roman",Times, serif;
   Color: #707070;
   font-size: 20px;
   font-style: normal;
   text-align: left;
   Height: 51px;
   Width: 1049px;
}
H4{
   Font-family:"Times New Roman",Times, serif;
   Color: #707070;
   font-size:17px;
   Height: 53px;
   Width: 290px;
 }
