body{background-color:AntiqueWhite;
}
button {
  background-color:aquamarine;
  border: 15px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
  padding-right: 45px;
}
